
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <p>Nosso projeto tem o intuito apresentar a solução da Microsoft para o WebAssembly chamada Blazor!</p>

    <p> Alem disso temos a proposta de agilizar o desenvolvimento com Blazor casando o pardão REST e componentes
        criado por nós para desenvolvimento WEB usando o MaterialDesign como base.</p>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <h2>Membros</h2>
    </div>

    <div class="mdl-cell--6-col">
        <img src="../assets/img/jho.png" alt="Jhonatan Candido" class="img-center">
        <p>Responsável pelo Angular, 082170016</p>
    </div>
    <div class="mdl-cell--6-col">
        <img src="../assets/img/paulo.png" alt="Paulo de Tarso" class="img-center">
        <p>Responsável pelo teórica, 082170024</p>
    </div>
    <div class="mdl-cell--6-col">
        <img src="../assets/img/thiago.png" alt="Thiago Fernandes" class="img-center">
        <p>Responsável pela gerencia, 082170029</p>
    </div>
    <div class="mdl-cell--6-col">
        <img src="../assets/img/luiz.png" alt="Luiz Gustavo" class="img-center">
        <p>Responsável pelo Blazor, 082170039</p>
    </div>
</div>